input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements{
    max-height: 100px;
}

form > div .requirements {
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: white;
    font-style: italic;
    background-color: #c94940;
  }