.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Register Button Styling */

.ui.button.RegisterButton {
  padding-top: 10px; 
  margin: 0 0 0 60%;
}

/* Feedback Button Styling */

.ui.button.FeedbackButton { 
  margin: 3% 5% 2% 80%;
  background-color: #51E3C2 !important;
  color: #32323E !important;
}

/* Feedback Input PostFeedback Component Styling */

textarea.FeedbackInput {
  background-color: #32323F !important;
  border: 1px solid #32323F !important;
  color: white !important;
  width: 90% !important;
  padding: 1em;
  margin: 5% 0% 0% 5% !important;
  min-height: 100px !important;
  max-height: 300px !important;
}

/* Search Field Name Input PostFeedback Component Styling */

.ui.fluid.dropdown.DropDownNameInput {
  background-color: #32323F !important;
  color: white !important;
  width: 50%;
}


/* Search Field Dropdown - PostFeedback Component Styling */

.ui.search.dropdown>input.search {
  background-color: #32323F !important;
  color: white !important;
}

/* Feedback and Date Input - PostFeedback Component Styling */

.ui.input>input {
  background-color: #32323F !important;
  color: white !important;
}

/* ListFeedback Negative Message Styling */

.ui.negative.message {
  background-color: #393945 !important;
  color: white !important;
  border: 1px solid #393945 !important;
  box-shadow: 0 0 0 1px #393945  inset, 0 0 0 0 transparent !important;
}

/* ListFeedback Negative Message Header Styling */

.ui.negative.message .header {
  background-color: #393945 !important;
  color: white !important;
  border: 1px solid #393945 !important;
}

/* ListFeedback Header Tabs Styling */

.ui.table thead th {
  background-color: #40424F !important;
  color: #50D9BB !important;
}

/* ListFeedback Body Styling */

.ui.table {
  background-color: #393945 !important;
  color: white !important;
  table-layout: auto;
  width: 100%;
  border: none;
}

/* ListFeedback Footer Styling */

.ui.table tfoot th {
  background-color: #393945 !important;
  color: white !important;
}

/* ListFeedback Pagination Styling */

.ui.pagination.menu {
  width: 100%;
  margin: 0;
  background-color: #393945 !important;
  color: white !important;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  border: 1px solid #444451 !important;
}

/* ListFeedback Pagination Items Styling */

.ui.menu .item {
  color: #50D9BB !important;
}

.ui.table td {
  border-bottom: 1px solid #444451;
}

.ui.form .field {
  width: 45%;
}

/* NavBar Input Styling */

input[type=email], input[type=password], input[type=search], input[type=text] {
  width: 25%;
  background-color: #4D505F !important;
  color: white !important;
}

form .navbarContainer {
  width:100% !important;
}


/* NavBar Buttons Styling */

.ui.button.incogButton {
  color: white !important;
  background-color: #393945 !important;
  font-family: sans-serif !important;
  font-size: 1.8rem !important;
  font-weight: bold !important;
  transition: color .1s ease-in-out !important;
}

.ui.button.signinButton {
  color: #51e3c2 !important;
  background-color: #393945 !important;
  border:1px solid #51e3c2 !important;
  font-weight: bold !important;
  padding: 0.6rem 0.6rem !important;
  font-size: 0.9rem !important;
  margin-left: 0.5rem!important;
}

.ui.button.registerButton {
  color: #51e3c2 !important;
  background-color: #393945 !important;
  border:1px solid #51e3c2 !important;
  font-weight: bold !important;
  padding: 0.6rem 0.6rem !important;
  font-size: 0.9rem !important;
  margin-left: 0.5rem!important;
  margin-right: 2.5rem !important;
}

.ui.button.logoutButton {
  color: #51e3c2 !important;
  background-color: #393945 !important;
  border:1px solid #51e3c2 !important;
  font-weight: bold !important;
  padding: 0.6rem 0.6rem !important;
  font-size: 0.9rem !important;
  margin-left: 0.5rem !important;
  margin-right: 2rem !important;
}

/* NavBar Buttons (Hover Effect) Styling */


.ui.button.incogButton:hover{
  color: #51e3c2 !important;
}

.ui.button.signinButton:hover{
  color: white !important;
  border:1px solid white !important;
}

.ui.button.registerButton:hover{
  color: white !important;
  border:1px solid white !important;
}

.ui.button.logoutButton:hover{
  color: white !important;
  border:1px solid white !important;
}